* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: aliceblue;
}

main#comic-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comic-card img {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin-bottom: 20px;
}
