* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(110, 4, 0, 0.86);
  color: aliceblue;
}

main#comic-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
